{% extends 'base.html' %}

{% block title %}JOB SEAKER | Logged In{% endblock %}

{% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <!-- Add user-specific navigation links here -->
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'registration' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block main_content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>
{% endblock %}
