<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Book.title}} Details</title>
</head>
<body>
    <h1>{{Book.title}} Details</h1>
    <p><strong>title:</strong>{{Book.title}}</p>
    <p><strong>Author:</strong>{{Book.author}}</p>
    <p><strong>Genre:</strong>{{Book.genre}}</p>
    <p><strong>Language:</strong>{{Book.language}}</p>
    <p><strong>Year:</strong>{{Book.year}}</p>
</body>
</html>